@import "compass";
@import "susy";
@import "mixins";
@import "normalize";

@font-face {
  font-family: 'socialicons';
  src: url('//static.scholarslab.org/fonts/socialicons/socialicons.eot');
  src: url('//static.scholarslab.org/fonts/socialicons/socialicons.eot?#iefix') format('embedded-opentype'),
       url('//static.scholarslab.org/fonts/socialicons/socialicons.woff') format('woff'),
       url('//static.scholarslab.org/fonts/socialicons/socialicons.ttf') format('truetype'),
       url('//static.scholarslab.org/fonts/socialicons/socialicons.svg#socialicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen {

html {

  @include background(
    linear-gradient(top left, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('bg.jpg')
    );
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: cover;
}

body {
  width: 94%;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
}

a{
  &:link,
  &:visited {
    color: #fda444;

    img {
      opacity: 0.75;
    }
  }
  &:hover,
  &:focus {
    color: #de7401;
    img {
      opacity: 0.9;
    }
  }
  &:active {
    color: #3f3f3f;
    img {
      opacity:1;
    }
  }

  @include transition(color .5s, background-color .5s);

  &:before {
    @include single-transition(color 0.5s);
  }

  img {
    @include single-transition(opacity .5s);
  }
}

form {
  @include clearfix;
}

textarea {
  border: 1px solid #999;
  background: #fff;
  @include box-shadow(none);
  max-width: 100%;
  padding: 5px;
  font-family: "Source Sans Pro", sans-serif;
  outline:none;
  max-width:100%;
  margin-bottom: 0.5em;
  &:focus {
    border: 1px solid #b6c43f;
  }

  #cfp-form & {
    width:50%;
  }

}

input {
  &[type="text"] {
    @extend textarea;
  }

  &[type=submit] {
    background: darken(#b6c43f, 5%);
    border: 1px solid darken(#b6c43f, 8%);
    color: #fff;
    letter-spacing: 1px;
    font-size: 85%;
    padding: 6px;
    @include border-radius(3px);

    &:hover,
    &:focus {
      background: #b6c43f;
    }

    &:active {
      background: lighten(#b6c43f, 5%);
    }
  }

  #cfp-form & {
    &[type=submit] {
      margin-left: 33%;
    }
  }
}

label {
  color: #999 !important;
  word-wrap: break-word;
  #cfp-form & {
    float:left;
    text-align:right;
    width: 28%;
    margin-right: 5%;
    clear:left;
    margin-bottom: rhythm(1);
  }
}

form br {
  display:block;
  height: rhythm(1);
  margin-top: rhythm(1);
  width: 100%;
  content: '';
  border-top: 1px dotted #ccc;
  clear:both;
}
table {
  border: 3px solid #ddd;
  border-width: 3px 0;
  margin-bottom: 3em;

  th {
    color: #b6c43f;
  }

  th, td {
    padding: 10px 0;
  }

  thead tr {
    border-bottom: 1px dotted #ccc;
  }

  tbody tr + tr {
    border-top: 1px dotted #ccc;
  }

  &.schedule {

    td {
      h3 {
        margin-top:0;
      }

      &:first-child {
        width: 20%;
      }
    }
  }
}

ul {
  &.participants {
    list-style:none;
    padding-left:0;
    @include clearfix;

    & > li {
      border-top: 1px dotted #ccc;
      padding-top: 1em;
    }

    h2 {
      color: #b6c43f !important;
      margin:0;
      font-weight:normal;
    }

    .byline,
    .twitter-handle {
      color: #999;
      font-size: 90%;
      margin:0;

      a {
        text-decoration:none;
      }
    }

    img {
      width: 80px;
      height: 80px;
      @include border-radius(40px);
      float:right;
      margin-left: 1em;
    }

    .js & {
      & > li {
        border:0;
        padding:0;
        display:inline-block;
        width: 30%;
        text-align:center;
        margin-bottom: 2em;

        &:hover {
          img {
            opacity: 1;
          }
        }
      }

      img {
        display:block;
        float:none;
        margin: 0 auto;
        opacity: .8;
      }

      h2 {
        font-size: 1em;
      }

      .byline,
      .twitter-handle,
      .bio {
        display:none;
      }
    }
  }
}

#popup {
    background: #fff;
    padding: 30px;
    width: 500px;
    h2 {
      color: #b6c43f !important;
      margin:0;
      font-weight:normal;
    }

    .byline,
    .twitter-handle {
      color: #999;
      font-size: 90%;
      margin:0;

      a {
        text-decoration:none;
      }
    }

    img {
      width: 60px;
      height: 60px;
      @include border-radius(30px);
      float:right;
      margin-left: 1em;
    }
  }
header {
  padding-top: rhythm(3);
  position:relative;

  h1 {
    position:relative;
    font-size: 4em;
  }

  nav {
    position:fixed;
    display:block;
    max-width: 800px;
    z-index:2000;
    top:0;
    background: rgba(0,0,0,0.75);
    width:100%;
    padding: rhythm(1);

    @media (min-width: 500px) {
    text-align:justify;
    padding-bottom:0;
      &:after {
        content: '';
        display: inline-block;
        width:100%;
        margin:0;
      }

      a {
        display:inline-block;
        &:before {
          content:'' !important;
        }
      }
    }
    a {
      text-decoration:none;

      &:link,
      &:visited {
        color: #f7e907;
        color: rgba(lighten(#f7e907, 20%), 0.85);
      }
      &:hover,
      &:focus,
      &:active {
        color: #eee;
        color: rgba(white, 0.9);
      }
      
      & + a:before {
        content: "· ";
        color: #777;
      }
    }
  }
}
#site-title {
  float:left;
  width: 100%;
  word-spacing: 40px;
  margin-bottom: 80px;

  span {
    position:relative;
    padding: 40px;
    font-size: 120%;
    color: #fff;
    box-shadow: -5px -5px 10px rgba(0,0,0,0.075);

    &:after {
      content:"";
      display:block; /* reduce the damage in FF3.0 */
      width:0;
      border-style:solid;
      position:absolute;
      bottom: -15px;
    }
  }
}

.word1 {
  background-color: #f3961c;
  float:left;
  display:block;
}

.word1:after {
   border-color:#f3961c transparent;
   border-width:30px 0 0 30px;
   left: 30px;
   bottom:30px;
}

.word2 {
  background-color: #b6c43f;
  margin: 150px 0px 0;
  font-size: 70% !important;
  z-index: 1000;
  padding: 10px 30px !important;
  position:absolute !important;
  left: 52.5%;
  top: 0;
}

.word2:after {
   border-color:#b6c43f transparent;
   border-width:15px 15px 0 0;
   right: 10px;
}

.word3 {
  background-color: #f7e907;
  margin-top: 10px;
  float:right;
  display:block;
}

.word3:after {
   border-color:#f7e907 transparent;
   border-width:30px 30px 0 0;
   right: 30px;
   bottom:30px;
}


div[role=main] {
  text-align:justify;
}

section {
  position:relative;
  padding: 20px;
  background: #fff;
  clear:both;
  margin: 40px 0;

  &:after {
    border-color:#fff transparent;
    border-width:30px 30px 0 0;
    right: 20px;
    content:"";
    display:block; /* reduce the damage in FF3.0 */
    width:0;
    border-style:solid;
    position:absolute;
    bottom: -30px;
  }

  &:nth-child(2n):after {
    border-width: 30px 0 0 30px;
    left: 30px;
  }

  h1 {
    font-size: 2em;
    margin-top:0;
  }

  &#introduction h1 {
    display:none;
  }
}


// Footers
footer[role=contentinfo] {
  @include clearfix;
  background-color: #555;
  background-color: rgba(black, 0.75);
  color: #eee;
  color: rgba(255,255,255,0.75);
  text-align:center;
  position:relative;
  padding: rhythm(1);
  margin: 100px 0 0;

  .elsewhere {
    list-style:none;
    text-align:center;

    li {
      display:inline;
    }
  }

  a {
    @include link-colors(#eee,#eee, #fff, #fff, #fff);
    @include link-colors(rgba(255,255,255,0.75));
    text-decoration:none;
    &:link,
    &:visited {
      &:before {
        color: #ddd;
        color: rgba(white, 0.5);
      }
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        color: #f0f0f0;
        color: rgba(white, 0.75);
      }
    }
  }

  .vcard {
    span {
      display:inline-block;
    }
    .org {
      display:none;
    }

    .organization-name,
    .organization-unit,
    .postal-code,
    abbr[title=work] {
      &:after {
        content: " ·";
        color: rgba(white, 0.25);
        text-decoration:none !important;
      }
    }

    abbr {
      border:none;
      &.type {
        color: rgba(white, 0.5);
      }
    }
  }

  .vcard,.elsewhere {
    @include adjust-font-size-to(14px);
    @include adjust-leading-to(0.75, 14px);
  }
}

.attribution {
  @include adjust-font-size-to(24px);
  @include adjust-leading-to(1.5, 24px);
  @include trailer(3,24px);
}

.elsewhere {
  margin-left:0;
  padding-left:0;
}

.elsewhere a {
  @include squish-text();
  vertical-align:sub !important;
}

.elsewhere a:before {
  font-size: 54px !important;
  line-height: 54px;
  font-family: 'socialicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  color: rgba(black,0.25);
}

.google:before {
  content: "\2b";
}
.github:before {
  content: "\67";
}
.twitter:before {
  content: "\74";
}
.facebook:before {
  content: "\66";
}
.vimeo:before {
  content: "\76";
}

}

@media screen and (min-width: 500px) {

section,
footer[role] {
  padding: 60px;
}

section {
  margin:100px 0;
}
}
