@import "compass";
@import "susy";
@import "mixins";
@import "normalize";

@media screen {

html {

  @include background(
    linear-gradient(top left, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('bg.jpg')
    );
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: cover;
}

body {
  width: 94%;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
}

a{
  &:link,
  &:visited {
    color: #fda444;
  }
  &:hover,
  &:focus {
    color: #de7401;
  }
  &:active {
    color: #3f3f3f;
  }
}

form {
  @include clearfix;
}

textarea {
  border: 1px solid #999;
  background: #fff;
  @include box-shadow(none);
  max-width: 100%;
  padding: 5px;
  font-family: "Source Sans Pro", sans-serif;
  outline:none;
  max-width:100%;
  margin-bottom: 0.5em;
  &:focus {
    border: 1px solid #b6c43f;
  }

  #cfp-form & {
    width: 48%;
  }

}

input {
  &[type="text"] {
    @extend textarea;
  }

  &[type=submit] {
    background: darken(#b6c43f, 5%);
    border: 1px solid darken(#b6c43f, 8%);
    color: #fff;
    letter-spacing: 1px;
    font-size: 85%;
    padding: 6px;
    @include border-radius(3px);

    &:hover,
    &:focus {
      background: #b6c43f;
    }

    &:active {
      background: lighten(#b6c43f, 5%);
    }
  }

  #cfp-form & {
    &[type=submit] {
      margin-left: 33%;
    }
  }
}

label {
  color: #999 !important;

  #cfp-form & {
    float:left;
    text-align:right;
    width: 28%;
    margin-right: 5%;
  }
}

table {
  border: 3px solid #ddd;
  border-width: 3px 0;
  margin-bottom: 3em;

  th {
    color: #b6c43f;
  }

  th, td {
    padding: 10px 0;
  }

  thead tr {
    border-bottom: 1px dotted #ccc;
  }

  tbody tr + tr {
    border-top: 1px dotted #ccc;
  }

  &.schedule {

    td {
      h3 {
        margin-top:0;
      }

      &:first-child {
        width: 20%;
      }
    }
  }
}

ul {
  &.people {
    list-style:none;
    padding-left:0;
    @include clearfix;

    li {
      @include span-columns(4);
      margin-bottom: 2em;

      &:nth-child(3n) {
        @include span-columns(4 omega);
      }
    }

    h2 {
      color: #b6c43f !important;
      margin:0;
    }

    .byline {
      color: #999;
      font-size: 90%;
      margin-top:0;
    }

    .image {
      width: 50px;
      height: 50px;
      background: #eee;
      border: 1px dotted #ccc;
      float:left;
      margin-right: 10px;
    }
  }
}

header {
  padding-top: 2em;
  position:relative;

  h1 {
    position:relative;
    font-size: 4em;
  }

  nav {
    position:fixed;
    max-width: 800px;
    z-index:2000;
    top:0;
    background: rgba(0,0,0,0.5);
    width:100%;

    a {
      display:block;
      float:left;
      padding: 10px;
      text-decoration:none;
      border: 1px solid rgba(255,255,255,0.2);
      border-width: 0 1px 0 0;

      &:link,
      &:visited {
        color: #bbb;
        background: rgba(0,0,0,0.5);
      }
      &:hover,
      &:focus,
      &:active {
        color: #eee;
        background: rgb(0,0,0);
      }

    }
  }
}
#site-title {
  float:left;
  width: 100%;
  word-spacing: 40px;
  margin-bottom: 80px;

  span {
    position:relative;
    padding: 40px;
    font-size: 120%;
    color: #fff;
    box-shadow: -5px -5px 10px rgba(0,0,0,0.075);

    &:after {
      content:"";
      display:block; /* reduce the damage in FF3.0 */
      width:0;
      border-style:solid;
      position:absolute;
      bottom: -15px;
    }
  }
}

.word1 {
  background-color: #f3961c;
  float:left;
  display:block;
}

.word1:after {
   border-color:#f3961c transparent;
   border-width:30px 0 0 30px;
   left: 30px;
   bottom:30px;
}

.word2 {
  background-color: #b6c43f;
  margin: 150px 0px 0;
  font-size: 70% !important;
  z-index: 1000;
  padding: 10px 30px !important;
  position:absolute !important;
  left: 52.5%;
  top: 0;
}

.word2:after {
   border-color:#b6c43f transparent;
   border-width:15px 15px 0 0;
   right: 10px;
}

.word3 {
  background-color: #f7e907;
  margin-top: 10px;
  float:right;
  display:block;
}

.word3:after {
   border-color:#f7e907 transparent;
   border-width:30px 30px 0 0;
   right: 30px;
   bottom:30px;
}


div[role=main] {
  text-align:justify;
}

section {
  position:relative;
  padding: 60px;
  background: #fff;
  clear:both;
  margin: 100px 0;

  &:after {
    border-color:#fff transparent;
    border-width:30px 30px 0 0;
    right: 20px;
    content:"";
    display:block; /* reduce the damage in FF3.0 */
    width:0;
    border-style:solid;
    position:absolute;
    bottom: -30px;
  }

  &:nth-child(2n):after {
    border-width: 30px 0 0 30px;
    left: 30px;
  }

  h1 {
    font-size: 2em;
    margin-top:0;
  }

  &#introduction h1 {
    display:none;
  }
}

footer[role=contentinfo] {
  @include clearfix;
  position:relative;
  padding: 60px;
  background: #fff;
  clear:both;
  margin: 100px 0 0;
}

#slab-logo {
  display:block;
  margin: 2em 0;
  opacity: 0.25;
  text-align:center;
  &:hover,
  &:focus,
  &:active {
    opacity: 0.75;
  }
}

}

@media screen and (min-width: 500px) {

html {
  border-top-width: 20px;
}

header h1 {
  font-size: 4em;
}

footer .attribution {
  float:left;
  width: 48%;
}

#slab-logo {
  display:block;
  float:right;
  width: 48%;
  margin: 1em 0;
  text-align:right;
  opacity: 0.25;
}

}
