<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}

    <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>

    <!-- Style Sheets -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}styles.css" type="text/css">
    <script src="{{ site.baseurl }}j/modernizr.min.js"></script>
    <script>
     yepnope({
        test : Modernizr.mq('(only all)'),
        nope : ['{{ site.baseurl }}j/respond.min.js']
    });
    </script>
</head>
<body>
    <header role="banner">
        <h1 id="site-title"><a href="{{ site.baseurl }}">Speaking in Code</a></h1>
        <nav>
            <a href="{{ site.baseurl }}#introduction">About the Summit</a>
            <a href="{{ site.baseurl }}#outcomes">Get the Kit</a>
            <a href="{{ site.baseurl }}#participants">Participants</a>
            <a href="{{ site.baseurl }}#agenda">Agenda</a>
            <a href="{{ site.baseurl }}#logistics">Logistics</a>
            <a href="{{ site.baseurl }}#inclusivity">You Are Welcome Here</a>
            <a href="{{ site.baseurl }}starting/">Origin Stories</a>
        </nav>
    </header>
    <div role="main">
        {{ content }}
    </div>
    <footer role="contentinfo">
        <div class="attribution">
            <p><em>Speaking in Code</em> is a project of the <a href="http://www.scholarslab.org/">Scholars&#8217; Lab</a> at the University of Virginia Library, generously supported by the <a href="http://neh.gov">National Endowment for the Humanities</a>.</p>
        </div>
        <p><a id="scholarslab-link" href="http://scholarslab.org"><img src="//static.scholarslab.org/images/logos/slab/slab-logo-white-100px.png"></a></p>
        <p><a id="uvalibrary-link" href="http://library.virginia.edu">
      <img id="uvalibrary" src="//static.scholarslab.org/images/logos/uvalibrary/uvalibrary-logo-white-200px.png">
    </a></p>

    <address class="vcard">
      <span class="org fn">
        <a class="url organization-name" href="http://scholarslab.org">Scholars’ Lab</a>
        <a class="organization-unit extended-address" href="http://lib.virginia.edu">University of Virginia Library</a>
      </span>
      <span class="street-address">P.O. Box 400129</span>,
      <span class="locality">Charlottesville</span>, <abbr title="Virginia" class="region">VA</abbr> <span class="postal-code">22904-4129</span>
      <span class="tel">434.243.8800 <abbr class="type" title="work">(T)</abbr></span>
      <span class="tel">434.924.1431 <abbr class="type" title="fax">(F)</abbr></span>
      <ul class="elsewhere">
        <li><a class="url twitter" href="http://twitter.com/scholarslab">Twitter</a></li>
        <li><a class="url facebook" href="https://www.facebook.com/scholarslab">Facebook</a></li>
        <li><a class="url google" href="https://plus.google.com/114472010795641313811">Google</a></li>
        <li><a class="url vimeo" href="https://vimeo.com/scholarslab">Vimeo</a></li>
        <li><a class="url github" href="http://github.com/scholarslab/">Github</a></li>
      </ul>
    </address>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/j/jquery.min.js"><\/script>')</script>
  <script src="/j/jquery.bpopup.min.js"></script>
  <script src="/j/scripts.js"></script>
</body>
</html>
