---
layout: default
---
<section>
<h1>Origin Stories</h1>
<nav class="local">
<ul>
<li><a href="rohit-chopra.html">Rohit Chopra</a></li>
<li><a href="matthew-christy.html">Matthew Christy</a></li>
<li><a href="wanda-eugene.html">Wanda Eugene</a></li>
<li><a href="fred-gibbs.html">Fred Gibbs</a></li>
<li><a href="connie-harper.html">Connie Harper</a></li>
<li><a href="nick-laiacona.html">Nick Laiacona</a></li>
<li><a href="john-laudun.html">John Laudun</a></li>
<li><a href="lincoln-mullen.html">Lincoln Mullen</a></li>
<li><a href="bethany-nowviskie.html">Bethany Nowviskie</a></li>
<li><a href="eric-rochester.html">Eric Rochester</a></li>
<li><a href="loren-scherbak.html">Loren Scherbak</a></li>
<li><a href="bill-turkel.html">Bill Turkel</a></li>
<li><a href="amanda-visconti.html">Amanda Visconti</a></li>
</ul>

<p class="contribute">Would you like to contribute your story? Fork <a href="http://github.com/scholarslab/speakingincode/">our repo on Github</a> and send us a pull request!</p>
</nav>

<article>

  <h1>{{ page.title }}</h1>

  <div class="content">
    {{ content }}
  </div>
</article>

</section>
